@import "~ngx-toastr/toastr";
#signup-page {
    background: linear-gradient(to bottom, rgb(29, 34, 104), rgb(0, 183, 255));
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-login {
        background-color: rgba($color: #ffffff, $alpha: 0.8);
        width: 100%;
        max-width: 400px;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 18px;
        padding: 16px;
        img {
            margin-bottom: 20px;
            max-width: 300px;
        }

        form {
            gap: 8px;
            align-items: center;
            display: flex;
            flex-direction: column;
            input {
                text-align: center;
                font-size: 19px;
                outline: none;
                padding: 12px;
                max-width: 300px;
            }
            button {
                font-size: 19px;
                font-weight: 400;
                min-width: 150px;
                min-height: 40px;
                background-color: #233b75;
                color: #ffffff;
                box-shadow: none;
                border-color: rgba($color: #ffffff, $alpha: 0);
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                margin: 10px;

                &:hover {
                    background-color: #557bd4;
                }
                &[disabled] {
                    opacity: 0.5;
                    background-color: #233b75;
                    cursor: not-allowed;
                }
            }
        }
    }

    .validator-errors {
        color: red;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
    }
}
