<div id="home-page">
    <div class="home-header">
        <img src="http://www.betha.com.br/site/images/betha-2.png" alt="Betha Sistemas">
        <button (click)="logout()" class='home-logout-btn'>Desconectar</button>
    </div>
    <div class="menu-trilha">
        <div class="trilha" *ngFor="let trilha of menuTrilha">
            <div class="line" [ngStyle]="{'backgroundColor': trilha.color}"></div>
            <span [ngStyle]="{'color': trilha.color}">{{trilha.trilha}}</span>
        </div>
    </div>
    <div class="home-content">
        <div class="inner-content">
            <div class="button-row">
                <button (click)="goCadastroCliente()">Cadastrar Novo Cliente</button>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="alinha-tabela">Nome/Razão Social</th>
                        <th class="alinha-tabela">Email</th>
                        <th class="alinha-tabela">CPF/CNPJ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaClientes">
                        <td>{{item.nome}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.cpfcnpj}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>